@import url('sellSection.css');
@import url(headerFooter.css);
@import url('sideBar.css');
body {
    margin: 0px;
    padding: 0px;
}

#container {
    margin-top: 50px;
    position:relative;
}

h3 {
    background-color: rgba(227, 106, 19, 0.1);
    text-align: center;
    color: rgba(227, 106, 19, 0.9);
    font-size: 1.5em;
    letter-spacing: 0.05em;
    font-family: Georgia;
    font-weight: 200;
    margin:0px;
}

    h3::first-letter {
        text-transform: uppercase;
        color: black;
        font-size: 1.7em;
    }



/*#sideBar ul li {
        font-size: 16px;
        padding-bottom: 15px;
        text-align: right;
    }

        #sideBar ul li:hover {
            color: rgba(241, 104, 16,0.9);
            cursor: pointer;
            -moz-box-shadow: rgba(241, 104, 16,0.7);
            -webkit-box-shadow: rgba(241, 104, 16,0.7);
            box-shadow: rgba(241, 104, 16,0.7);
        }*/
